<!--<suite name="Any Name" >-->
    <!--<test testName="cm" >-->
    <!--<classes>-->
        <!--<class name="Masters.CustomerCategoryMaster" />;-->
    <!--</classes>-->
    <!--</test>-->
    <!--</suite>-->

<suite name="Any Name" >
<test name="My test suite " preserve-order="true" >
    <classes>
        <class name="Inventory.RePrint" />
            <!--<methods>-->
                <!--<include name = "viewBills"/>-->
            <!--</methods>-->
        <!--</class>-->
        <class name="Purchase.PurchaseFormula" />
            <!--<methods>-->
                <!--<include name = "createPurchaseFormula"/>-->
            <!--</methods>-->
        <!--</class>-->
    </classes>
</test>
</suite>